# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Dataset
dataset/downloads/
dataset/raw/
dataset/processed/

# Trained Models
saved_models/

# TensorBoard Logs
logs/

# OS Files
.DS_Store
Thumbs.db


# Generated Outputs
outputs/

# Temporary Files
*.log
*.tmp
*.bak

# Old Requirement Files
old_requirements.txt
first_requirements.txt

# Model Files
*.keras
*.h5
*.weights.h5